body .bottom_bar {
    z-index: 1;
}

.container {
    max-width: 400px;
    margin: auto;
    margin-top: 100px;
}

.back_img {
    width: 9px;
    margin-right: 4px;
    margin-top: auto;
    margin-bottom: auto;
}

.action_grid {
    cursor: pointer;
    margin-left: 10px;
    display: grid;
    grid-template-columns: max-content max-content;
}

.title_text {
    font-size: 20px;
    color: #eeeeee;
    text-align: center;
    width: 100%;
    font-weight: 500;
    margin-top: auto;
    margin-bottom: auto;
    height: max-content;
}

.back_text {
    color: var(--text);
    font-weight: 500;
    font-size: 18px;
    height: max-content;
    margin-top: auto;
    margin-bottom: auto;
}

.top_grid {
    z-index: 1;
    background-color: var(--background);
    position: fixed;
    top: -10px;
    height: 60px;
    left: 0;
    width: 100%;
    display: grid;
    margin-top: 10px;
    grid-template-columns: repeat(3, calc(100% / 3));
}

.bottom {
    display: grid;
    grid-template-columns: 100%;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    grid-template-rows: max-content max-content;
    position: absolute;
    bottom: 0%;
    margin-bottom: 100px;
}

.field {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 15px;
    color: white;
    text-align: center;
}

.center {
    font-family: "Poppins", sans-serif;
    align-items: center;
    width: 600px;
    height: 70px;
}

.natata {
    margin-top: -25%;
    height: 86%;
    margin-left: -20;
}

.bell {
    margin-left: 36%;
    width: 140px;
}

.refresh {
    color: var(--background);
    line-height: 60px;
    text-align: center;
    font-weight: 550;
    font-size: 23px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: var(--text);
    height: 60px;
    border-radius: 20px;
    margin-bottom: 25px;
}